name: my-service

services:
  my-converter:
    image: myconverter
    container_name: my-converter-service
    ports:
      - "5058:5058"
    command: [ "5058" ]
    
  my-db:
    image: mydb
    container_name: my-db
    ports:
        - "7028:7028"
    volumes:
        - ./db-sdata:/app/data
    command: [ "7028" ]