<Project>
    <PropertyGroup>
        <PublishProtocol>Container</PublishProtocol>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:9.0</ContainerBaseImage>
        <ContainerImageName>chatservice</ContainerImageName>
        <ContainerTag>latest</ContainerTag>
    </PropertyGroup>
</Project>